@media screen and (max-width: 1428px) {
  /*.hereIsMyClass { }*/
    
    body {
      background: red;

    }

    .header-top {
      height: 65px;
    }

    #logo-header {
      width: 164px;
      height: 40px;
      float: left;
      margin-left: 50px;
      margin-top: 5px;
    }

     #logo-header img{
      width: 100%;
    }

    .contacts div {
      margin-right: 20px;
      font-size: 14px;
    }
 
}

@media screen and (max-width: 918px) {
    body {
      background: blue;

    }

    .header-top {
      height: 45px;
    }

    #logo-header {
      width: 94px;
      height: 37px;
      margin-left: none;
      margin-top: 10px;
    }


/*   #logo-header img{
      width: 80%;
    }*/
    
    .header-top .container {
    
      margin-left: none;
    }

    .main-menu .container {
  
    }

    .contacts {
      margin-top: 5px;
    }

    .contacts div {
      margin-right: 8px;
      font-size: 10px;
      float: none;
    }


}


@media screen and (max-width: 520px) {
    body {
      background: yellow;

    }

    .nav-block {
      display: none;
    } 

    .nav-open {
      display: block;
    }

    .main-menu .b-owner {
       margin-left: 16px;
    }

    #logo-header {
      margin-left: auto;
      margin-right: auto;
      float: none;
    }

    .contacts {
      margin-top: 5px;
      float: none;
    }


}